:root{
--main-color:saddlebrown;
--secondary-color:peru;
--tertiary-color:lightyellow;
--dark-color:#444;
--light-color:#fafafa;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-color);
    margin:0px
}
code{
    display: block;
    background-color: lightgrey;
    border-radius: 5px;
    text-align: left;
    white-space: pre-line;
    padding: 15px;
    margin: 10px;
}
header{
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--main-color);
}

.main-section{
    padding: 10px;
    margin: 10px;
}
.flexbox{
    display: flex;
}
.navbar{
    position: fixed;
    height:100vh;
    padding: 0 20px;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(135deg, var(--main-color),var(--secondary-color));
    color: var(--light-color);
    overflow-y: scroll;

}
.navbar header{
    color: var(--light-color);
}
.nav-li{
    list-style-type: none;
    padding: 5px 0px;
    font-size: 1.3em;
}
.nav-link {
}
a {
    text-decoration: none;
    color: var(--light-color);
}
#main-doc{
    position:fixed;
    margin-left: 350px;
    padding: 0 20px;
    overflow-y: scroll;
    top: 0;
    height:100vh;
    background-image: linear-gradient(-135deg, var(--tertiary-color), var(--light-color));
}

@media only screen and (max-width: 697px) {
    .flexbox{
        flex-direction: column;
    }
    .navbar{
        position: relative;
        height: min-content;
    }
    #main-doc{
        position: relative;
        margin-left: 0px;
        padding: 0px 10px;
    }
    .collapse-trigger{
        cursor: pointer;
        padding: 0px 0px 0px 5px;
    }
    .active, .collapse-trigger:hover {
        background-color:var(--main-color);
    }
    .collapse-trigger:after {
        content: '\002B';
        float:none;
    }
    .active:after {
        content: "\2212";
    }
    .collapsible-content{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
  }